/* ===================================================
    GLOBAL VARIABLES AND FONTS
    ================================================== */
:root {
  --background-color: #e4e4e4;
  --blue-color: #1076a7;
  --green-color: #70a53d;
  --dark-green-color: #69993d;
  --light-blue-color: #a8ced4;
  --white-color: #ffffff;

  --border-radius-small: 0.3rem;
  --border-radius-medium: 0.625rem;
  --padding-small: 0.625rem;
  --padding-medium: 1.25rem;
  --font-size-normal: 1.3rem;
  --font-size-large: 1.8rem;
}

/* Poppins Regular */
@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Poppins Bold */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../font/Poppins-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* ===================================================
        GENERAL STYLES
        ================================================== */
body {
  margin: 0;
  background-color: var(--background-color);
  font-size: var(--font-size-normal);
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
  margin: var(--padding-small) 0;
  border-radius: var(--border-radius-small); /* Rounded corners */
}

/* ===================================================
        GRID LAYOUT
        ================================================== */

/* Used when no aside section */

/* Small screen */
@media only screen and (max-width: 768px) {
  .grid-with-no-aside {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr; /* Divided equally */
    grid-template-rows: auto 1fr auto; /* Keep header and footer autoscaled */
    gap: 1rem; /* Space between areas */
    min-height: 100vh; /* Full viewport height */
  }
}

/* Medium screen */
@media only screen and (min-width: 768px) {
  .grid-with-no-aside {
    display: grid;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer";
    grid-template-columns: 1fr 1fr; /* Divided equally */
    grid-template-rows: auto 1fr auto; /* Keep header and footer autoscaled */
    gap: 1rem; /* Space between areas */
    min-height: 100vh; /* Full viewport height */
  }
}

/* Large screen */
@media only screen and (min-width: 1200px) {
  .grid-with-no-aside {
    display: grid;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr; /* Divided equally */
    grid-template-rows: auto 1fr auto; /* Keep header and footer autoscaled */
    gap: 1rem; /* Space between areas */
    min-height: 100vh; /* Full viewport height */
  }
}

/* ===================================================
        HEADER AND NAVBAR
        ================================================== */

/*
        Defines padding and background-color
        for the header and the nav it contains.
    */
header {
  grid-area: header;
  padding: 0 0.8rem;
  background-color: var(--blue-color);
}

/* Item positioning in the nav container */
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Keeps logo on the left and site navigation links on the right */
}

/* Logo settings */
header nav img {
  width: 150px;
  background-color: var(--background-color);
}

/* Navigation list */
header nav ul {
  display: flex;
  justify-content: center; /* Centers list items */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Navigation items */
header nav ul li {
  display: inline-block;
  color: var(--white-color);
  padding: 1.6rem 1.06rem;
}

/* Navigation links */
header nav ul li a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-large);
}

/* Keep text white with no underline on hover */
header nav ul li a:hover {
  color: var(--white-color);
  text-decoration: none;
}

/*
        Creates a var(--border-radius-small) height,
        0 width white background empty block element,
        for the underline hover effect.
    */
header nav ul li a::after {
  display: block;
  width: 0;
  height: 0.2rem;
  content: "";
  background-color: var(--white-color);
  position: relative;
  transition: all ease-in-out 300ms;
}

/*
        Triggers the hover animation.
        The block element goes from 0 to width of li.
    */
header nav ul li a:hover::after {
  width: 100%;
}

/* Adjustments for small screens */
@media only screen and (max-width: 768px) {
  header nav {
    flex-direction: column; /* Stack logo and links vertically */
    align-items: center; /* Center horizontally */
  }

  header nav ul {
    flex-direction: column; /* Stack links vertically */
    align-items: flex-start; /* Align links to the left */
  }

  header nav ul li {
    padding: 0.5rem 0;
  }

  /* Slightly reduce font size */
  header nav ul li a {
    font-size: var(--font-size-normal);
  }
}

/* ===================================================
        MAIN CONTENT AND LINKS
        ================================================== */

/* Main content styling */
main {
  grid-area: main;
  padding: 0 var(--padding-medium);
}

/* Links styling in the main and aside section */
a {
  font-size: inherit;
  color: var(--green-color); /* Green text for links */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
}

/* Hover effect for links */
a:hover {
  color: var(--blue-color); /* Blue text on hover */
  text-decoration: underline;
}

/* ===================================================
        INTRO AND PAGE SECTIONS
        Shared settings for intro section of a page,
        and various page sections.
        ================================================== */

/* Intro section */
.intro {
  grid-area: intro;
  background-color: var(--dark-green-color); /* Dark green background */
  border: 0.25rem solid var(--blue-color); /* Light blue border */
  border-radius: 1rem; /* Rounded corners */
  margin-bottom: var(--padding-medium);
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  padding: var(--padding-small);
  text-align: center;
}

/* White and bold text for the intro header */
.intro h1 {
  color: var(--white-color);
  font-weight: bold;
}

/* White text for the paragraph */
.intro p {
  color: var(--white-color);
}

/* General page section styling */
main .page-section {
  background-color: var(--white-color); /* White background */
  border: 0.125rem solid var(--dark-green-color); /* Green border */
  border-radius: var(
    --border-radius-medium
  ); /* Slightly less rounded corners from the intro*/
  margin-bottom: var(--padding-medium);
  padding: 1rem;
}

/* Blue text for the page section headers */
main .page-section h2 {
  color: var(--blue-color);
}

/* Buttons in page sections */
main section .btn {
  display: inline-block;
  background-color: var(--white-color); /* White background */
  color: var(--blue-color); /* Blue text */
  text-align: center;
  text-decoration: none; /* Remove underline */
  border-radius: 0.313rem;
  padding: var(--padding-small) var(--padding-medium);
  margin-top: var(--padding-small);
  transition: background-color 0.3s; /* Smooth transition on hover effect */
}

/* Change button appearance on hover. */
main section .btn:hover {
  background-color: var(--blue-color); /* Blue background on hover */
  color: var(--white-color); /* White text on hover */
}

/*
  Some page sections are of "page-section image-page-section" class.
  It uses the styling of the page-section class,
  but the flex styling for the positioning of the elements.
*/
/*
  This flex container contains two items:
  - an "image-section-content" div with the header and the text
  - the image
  Used mostly to center the image.
*/
/* Base styling for the image-page-section */
main .image-page-section {
  display: flex;
  align-items: center; /* Center the image vertically */
  justify-content: space-between; /* Separate div and image */
}

/* Small screens: Image under text content */
@media only screen and (max-width: 768px) {
  main .image-page-section {
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    gap: 5%;
  }
}

/* Medium screens: Side-by-side layout */
@media only screen and (min-width: 768px) {
  main .image-page-section {
    flex-direction: row; /* Side-by-side */
    gap: 1.5%; /* Reduce gap for smaller screens */
  }
}

/* Large screens: More spacing */
@media only screen and (min-width: 1200px) {
  main .image-page-section {
    flex-direction: row;
    gap: 5%; /* Larger gap for spacious layout */
  }
}

main .image-page-section a .image-section-img {
  width: 12rem;
  transition: transform 0.3s ease-in-out;
}

main .image-page-section a .image-section-img:hover {
  transform: scale(1.05); /* Slightly zoom in */
}

/* Inner flex container for the header and the text */
main .image-page-section .image-section-content {
  flex: 1; /* Takes up available space */
  margin: 0 1.8rem;
}

main .image-page-section .image-section-content ul {
  margin: 0;
  padding: 0;
}

/* ===================================================
        CATEGORIES LIST STYLING
        ================================================== */

/* Settings for the main categories list */
main .categories {
  align-self: center;
  list-style-type: none; /* Remove default bullets */
  margin: 0;
  padding: 0;
}

/* ===================================================
        ABOUT PAGE STYLING
        ================================================== */

/*
  The team member image is of "team-member-img image-section-img" class.
  It uses the styling of the team-member-img class,
  but the flex positioning of the image-section-img class.
*/
main .page-section .team-member-img {
  float: left; /* Float the image to the left of the content */
  margin-right: 6rem; /* Space between image and text */
  margin-left: var(--padding-medium); /* Space between border and image */
  width: 12rem;
  height: auto;
  border-radius: 50%; /* Circular image */
  border: 0.125rem solid var(--light-blue-color); /* Light blue border around image */
}

/* Clear floats within page-section elements */
main .page-section {
  overflow: hidden;
}

/* ===================================================
        FOOTER STYLING
        ================================================== */
footer {
  grid-area: footer;
  display: flex; /* Use flexbox for columns */
  justify-content: space-between; /* Space between columns */
  flex-wrap: wrap; /* Wrap content if screen is small */
  background-color: var(--blue-color); /* Blue background */
  color: var(--white-color); /* White text */
  padding: 1.875rem var(--padding-medium);
}

/* Footer column styling */
footer .footer-column {
  width: 45%; /* Each column takes up 45% */
  margin-bottom: 1.25rem; /* Adds space between columns on smaller screens */
}

/* Footer headers */
footer .footer-column h2 {
  font-weight: bold; /* Keep white text but make them bold */
  margin-bottom: 1rem;
}

/* Remove bullets from the list in the footer */
footer .footer-column .menu {
  list-style-type: none;
}

footer .footer-column .menu li {
  margin-top: var(--padding-small);
}

/* Footer links specific settings */
footer .footer-column .menu li a {
  color: var(--white-color); /* White text */
  text-decoration: none; /* Removes underline */
}

/* Change footer links appearance on hover */
footer .footer-column .menu li a:hover {
  color: var(--green-color); /* Green text */
  text-decoration: underline;
}

/* LinkedIn icon styling */
footer .footer-column .menu li img {
  width: var(--padding-medium);
  vertical-align: middle;
  margin-right: 0.313rem;
}

/*
        Copyright disclaimer styling.
        It is not included in the columns,
        but it is the last line in the footer,
        in the center.
    */
footer #copyright-disclaimer {
  width: 100%; /* Full width */
  text-align: center;
  margin-top: var(--padding-medium);
}

/* Underlines the Icons8 link */
footer #copyright-disclaimer a {
  color: var(--white-color);
  text-decoration: underline;
}

/* Adjuments for small screens */
@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center horizontally */
  }

  footer .footer-column {
    width: 100%; /* Take full width */
    text-align: center;
    margin-bottom: 1rem; /* Add spacing between stacked columns */
  }

  footer .footer-column .menu {
    padding: 0; /* Remove unnecessary padding */
  }

  footer #copyright-disclaimer {
    margin-top: 1rem; /* Add spacing above the disclaimer */
  }
}
